# -----------------------------
# Data manipulation & analysis
# -----------------------------
pandas==2.3.3
numpy==2.4.0

# -----------------------------
# PostgreSQL connectivity
# -----------------------------
psycopg2==2.9.11
psycopg2-binary==2.9.11
SQLAlchemy==2.0.45

# -----------------------------
# Fake data generation
# -----------------------------
Faker==38.2.0

# -----------------------------
# Configuration & environment
# -----------------------------
PyYAML==6.0.3
python-dotenv==1.2.1

# -----------------------------
# Logging & utilities
# -----------------------------
requests==2.32.5
click==8.3.1

# -----------------------------
# Testing & coverage
# -----------------------------
pytest==9.0.2
pytest-cov==5.0.0

# -----------------------------
# Task scheduling
# -----------------------------
APScheduler==3.10.4
